<!-- <ul>
  <li>
    <a routerLink="/login"
      routerLinkActive="menuActive">
      Login
    </a>
  </li>
  <li>
    <a routerLink="/basico"
      routerLinkActive="menuActive">
      Basico
    </a>
  </li>
  <li>
    <a routerLink="/home"
      routerLinkActive="menuActive">
      Home
    </a>
  </li>
  <li>
    <a routerLink="/productos"
      routerLinkActive="menuActive">
      Listado de Productos
    </a>
  </li>
  <li>
    <a routerLink="/buscar"
      routerLinkActive="menuActive">
      Buscar
    </a>
  </li>
</ul> -->
<main>
  <header>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"
          routerLink="/login"
          routerLinkActive="menuActive">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basico"
        routerLinkActive="menuActive">Basico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"
        routerLinkActive="menuActive">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos"
          routerLinkActive="menuActive">Listado Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buscar"
        routerLinkActive="menuActive">Buscador</a>
      </li>
    </ul>
  </header>
  <div class="container">
    <!-- lo usamos despues con el router!!! -->
    <router-outlet></router-outlet>
  </div>
</main>
