<ul>
  <li>
    <a routerLink="/login"
      routerLinkActive="menuActive">
      Login
    </a>
  </li>
  <li>
    <a routerLink="/basico"
      routerLinkActive="menuActive">
      Basico
    </a>
  </li>
  <li>
    <a routerLink="/home"
      routerLinkActive="menuActive">
      Home
    </a>
  </li>
  <li>
    <a routerLink="/productos"
      routerLinkActive="menuActive">
      Listado de Productos
    </a>
  </li>
  <!-- <li>
    <form>
      <input type="text">
      <button>
        Buscar
      </button>
    </form>
  </li> -->
  <li>
    <a routerLink="/buscar"
      routerLinkActive="menuActive">
      Buscar
    </a>
  </li>
  <!--
  <li>
    <a
      routerLink="/producto2"
      routerLinkActive="menuActive"
      (click)="navegarPorTS()">
      Producto 2
    </a>
  </li>
-->
</ul>

<!-- lo usamos despues con el router!!! -->
<router-outlet></router-outlet>

